.App {
  text-align: center;
}

h2 {
  font-family: Ottbelix;
  font-size: 70px;
  color: rgb(35, 20, 46);
  margin-bottom: 10px;
  cursor: pointer;
}

h1{
  font-family: baby monsta;
  font-size: 50px;
  text-shadow: 5px 10px 100px black;
}

body {
  max-height: fit-content;
  background: radial-gradient(circle, rgb(171, 92, 240) 0%, rgb(123, 245, 157) 100%);
  
}


